<!DOCTYPE html>
<html>
<head>
    <title>Havan - @ViewBag.nomePag</title>
</head>
<body>
    <header>
        <nav>
            <a href="/Home/Index">I</a>
            <a href="/Home/Cadastro">C</a>
            <a href="/Home/Listar">L</a>
            <!-- Nome do link , Action, Controller -->
            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("Cadastro", "Cadastro")
            @Html.ActionLink("Listar", "Listar")
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>